<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compyte Demo</title>
    <link rel="stylesheet" href="/static/style.css" />
</head>
<body>
    <form action="">
        <textarea name="message" class="autocomplete" cols="55" rows="10">Lorem ipsum dolor</textarea><br />
        <button>Submit</button>
    </form>
    <div id="debug"></div>
    <script src="/static/script.js"></script>
</body>
</html>